@import url('https://fonts.cdnfonts.com/css/gagalin');
body {
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
